<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Terma CDN</title>
    <link href="https://fonts.googleapis.com/css?family=Lato:400,700" rel="stylesheet">
    <style type="text/css">
        body {
            font-family: 'Lato', sans-serif;
            margin: 2em;
        }

        header {
            padding-bottom: 2em;
        }

        section {
            padding: 1em 2em 3em;
            border-top: 1px solid black;
        }

        div.content-wrapper {
            padding: 0 3em;
            margin-bottom: 3em;
            overflow: auto;
        }

        h1, h2, h3, h4 {
            text-transform: uppercase;
            letter-spacing: 2px;
        }

        h3 {
            margin-left: 1em;
        }

        h4 {
            margin-left: 2em;
        }

        span.c1 {
            color: #de0000;
        }

        span.c2 {
            color: #2181cd;
        }

        span.c3 {
            color: #cd32af;
        }

        span.c4 {
            color: #cda11b;
        }

        span.c5 {
            color: #71cd27;
        }

        span.c6 {
            color: #27c2cd;
        }

        img {
            margin-top: 1em;
            display: block;
            width: auto;
            max-width: 100%;
            border: 2px dashed black;
            box-sizing: border-box;
        }

        .button {
            display: inline-block;
            margin: .5em;
            padding: 1em;
            text-decoration: none;
            background-color: #2181cd;
            color: #fff;
            transition: .3s ease-in-out;
        }

        .button:hover {
            background-color: #229ef6;
        }

        p {
            margin-bottom: .5em;
        }

        p.emph {
            font-weight: 700;
        }

        .req {
            font-size: 1.2em;
        }

        span.tab {
            margin-left: 1em;
            display: block;
        }

        div.wrapper {
            overflow: auto;
            margin-bottom: 3em;
        }

        div.box {
            width: 33%;
            float: left;
            padding: 0 1em;
            box-sizing: border-box;
        }
    </style>
</head>
<body>
<header>
    <h1>Sposób użytkowania</h1>
    <p>Zdjęcie/render grzejnika można pobrać za pomocą odpowiednio skonstruowanego URLa</p>
    <p>Można to zrobić na dwa sposoby:</p>
    <a class="button" href="#code">Za pomocą kodu produktu</a>
    <a class="button" href="#full">Wpisując pełną nazwę, rozmiar i kolor produktu</a>
</header>

<section id="code">
    <h2>Za pomocą kodu produktu</h2>
    <div class="content-wrapper">
        <p class="emph">
            <span class="req">{{CDN_HOST}}</span>
            <span class="c1 req">KOD_PRODUKTU</span>
            <span class="c2">/WIDOK</span>
            <span class="c3">/FORMAT_PLIKU</span>
            <span class="c4">/SZEROKOŚĆ_OBRAZKA</span>
        </p>
        <p><span class="c1">KOD_PRODUKTU</span> - <b>obowiązkowy</b></p>
        <p><span class="c2">WIDOK</span> - dostępne wartości:
            <span class="tab c2">CAM0</span>
            <span class="tab c2">CAM1</span>
            <span class="tab c2">CAM2</span>
            <span class="tab c2">CAM3</span>
            <span class="tab c2">CAM4</span>
            <span class="tab c2">CAM5</span>
        </p>
        <p><span class="c3">SZEROKOŚĆ_OBRAZKA</span> - szerokość zwracanego zasobu w px (np. 300)</p>
        <p><span class="c4">FORMAT_PLIKU</span> - dostępne wartości:
            <span class="tab"><span class="c4">PNG</span> (domyślny)</span>
            <span class="tab c4">JPG </span>
            <span class="tab c4">WEBP</span>
        </p>

        <p>Parametry <span class="c3">SZEROKOŚĆ_OBRAZKA</span> oraz <span class="c4">FORMAT_PLIKU</span> mogą być podane
            w dowolnej kolejności.</p>
    </div>

    <h3>Przykłady</h3>

    <h4>Zdjęcie domyślne</h4>
    <div class="content-wrapper">
        <div class="box">
            <p>grzejnik AERO H<br>domyślny obrazek<br>oryginalny rozmiar obrazka</p>
            <a href="{{CDN_HOST}}WGARH041150-K512SX" target="_blank">{{CDN_HOST}}WGARH041150-K512SX</a>
            <img src="/WGARH041150-K512SX">
        </div>
    </div>

    <h4>Wybrany widok</h4>
    <div class="content-wrapper">
        <div class="box">
            <p>grzejnik AERO H<br>widok CAM0<br>oryginalny rozmiar obrazka</p>
            <a href="{{CDN_HOST}}WGARH041150-K512SX/CAM0" target="_blank">{{CDN_HOST}}WGARH041150-K512SX/CAM0</a>
            <img src="/WGARH041150-K512SX/CAM0">
        </div>
        <div class="box">
            <p>grzejnik AERO H<br>widok CAM4<br>oryginalny rozmiar obrazka</p>
            <a href="{{CDN_HOST}}WGARH041150-K512SX/CAM4" target="_blank">{{CDN_HOST}}WGARH041150-K512SX/CAM4</a>
            <img src="/WGARH041150-K512SX/CAM4">
        </div>
        <div class="box">
            <p>grzejnik AERO H<br>widok CAM5<br>oryginalny rozmiar obrazka</p>
            <a href="{{CDN_HOST}}WGARH041150-K512SX/CAM5" target="_blank">{{CDN_HOST}}WGARH041150-K512SX/CAM5</a>
            <img src="/WGARH041150-K512SX/CAM5">
        </div>
    </div>

    <h4>Rozmiar obrazka i/lub format pliku</h4>
    <div class="content-wrapper">
        <div class="box">
            <p>grzejnik AERO H<br>szerokość obrazka 200px</p>
            <a href="{{CDN_HOST}}WGARH041150-K512SX/200" target="_blank">{{CDN_HOST}}WGARH041150-K512SX/200</a>
            <img src="/WGARH041150-K512SX/200">
        </div>
        <div class="box">
            <p>grzejnik AERO H<br>szerokość obrazka 400px</p>
            <a href="{{CDN_HOST}}WGARH041150-K512SX/400" target="_blank">{{CDN_HOST}}WGARH041150-K512SX/400</a>
            <img src="/WGARH041150-K512SX/400">
        </div>
        <div class="box">
            <p>grzejnik AERO H<br>szerokość obrazka 600px</p>
            <a href="{{CDN_HOST}}WGARH041150-K512SX/600" target="_blank">{{CDN_HOST}}WGARH041150-K512SX/600</a>
            <img src="/WGARH041150-K512SX/600">
        </div>
        <div class="box">
            <p>grzejnik AERO H<br>widok CAM0<br>szerokość obrazka 200px</p>
            <a href="{{CDN_HOST}}WGARH041150-K512SX/CAM0/200"
               target="_blank">{{CDN_HOST}}WGARH041150-K512SX/CAM0/200</a>
            <img src="/WGARH041150-K512SX/CAM0/200">
        </div>
        <div class="box">
            <p>grzejnik AERO H<br>widok CAM4<br>szerokość obrazka 400px</p>
            <a href="{{CDN_HOST}}WGARH041150-K512SX/CAM4/400"
               target="_blank">{{CDN_HOST}}WGARH041150-K512SX/CAM4/400</a>
            <img src="/WGARH041150-K512SX/CAM4/400">
        </div>
        <div class="box">
            <p>grzejnik AERO H<br>widok CAM5<br>szerokość obrazka 600px</p>
            <a href="{{CDN_HOST}}WGARH041150-K512SX/CAM5/600"
               target="_blank">{{CDN_HOST}}WGARH041150-K512SX/CAM5/600</a>
            <img src="/WGARH041150-K512SX/CAM5/600">
        </div>
        <div class="box">
            <p>grzejnik AERO H<br>szerokość obrazka 200px<br>format pliku jpg</p>
            <a href="{{CDN_HOST}}WGARH041150-K512SX/200/JPG" target="_blank">{{CDN_HOST}}WGARH041150-K512SX/200/JPG</a>
            <a href="{{CDN_HOST}}WGARH041150-K512SX/JPG/200" target="_blank">{{CDN_HOST}}WGARH041150-K512SX/JPG/200</a>
            <img src="/WGARH041150-K512SX/200/JPG">
        </div>
        <div class="box">
            <p>grzejnik AERO H<br>szerokość obrazka 200px<br>format pliku png</p>
            <a href="{{CDN_HOST}}WGARH041150-K512SX/200/PNG" target="_blank">{{CDN_HOST}}WGARH041150-K512SX/200/PNG</a>
            <a href="{{CDN_HOST}}WGARH041150-K512SX/PNG/200" target="_blank">{{CDN_HOST}}WGARH041150-K512SX/PNG/200</a>
            <img src="/WGARH041150-K512SX/200/PNG">
        </div>
        <div class="box">
            <p>grzejnik AERO H<br>szerokość obrazka 200px<br>format pliku webp</p>
            <a href="{{CDN_HOST}}WGARH041150-K512SX/200/WEBP"
               target="_blank">{{CDN_HOST}}WGARH041150-K512SX/200/WEBP</a>
            <a href="{{CDN_HOST}}WGARH041150-K512SX/WEBP/200"
               target="_blank">{{CDN_HOST}}WGARH041150-K512SX/WEBP/200</a>
            <img src="/WGARH041150-K512SX/200/WEBP">
        </div>
    </div>
</section>

<section id="full">
    <h2>Wpisując pełną nazwę, rozmiar i kolor produktu</h2>
    <div class="content-wrapper">
        <p class="emph">
            <span class="req">{{CDN_HOST}}</span>
            <span class="c1 req">NAZWA_GRZEJNIKA</span>
            <span class="c2 req">/WIDOK</span>
            <span class="c3">/WYMIARY_GRZEJNIKA</span>
            <span class="c4">/KOLOR</span>
            <span class="c5">/FORMAT_PLIKU</span>
            <span class="c6">/SZEROKOŚĆ_OBRAZKA</span>
        </p>
        <p><span class="c1">NAZWA_GRZEJNIKA</span> - <b>obowiązkowy</b>, spacje zastąpione '_' (podłoga)</p>
        <p><span class="c2">WIDOK</span> - <b>obowiązkowy</b>, dostępne wartości:
            <span class="tab c2">CAM0</span>
            <span class="tab c2">CAM1</span>
            <span class="tab c2">CAM2</span>
            <span class="tab c2">CAM3</span>
            <span class="tab c2">CAM4</span>
            <span class="tab c2">CAM5</span>
        </p>
        <p><span class="c3">WYMIARY_GRZEJNIKA</span> - rzeczywisty wymiar grzejnika w mm; szerokość_długość (np.
            325_900);
            spacja zastąpiona '_'
            (podłoga)</p>
        <p><span class="c4">KOLOR</span> - <b>wymagane podanie parametru WYMIARY_GRZEJNIKA</b> kolor z palety RAL; np.
            RAL_1000; spacja zastąpiona '_' (podłoga)</p>
        <p><span class="c5">SZEROKOŚĆ_OBRAZKA</span> - szerokość zwracanego zasobu w px (np. 300)</p>
        <p><span class="c6">FORMAT_PLIKU</span> - dostępne wartości:
            <span class="tab"><span class="c4">PNG</span> (domyślny)</span>
            <span class="tab c6">JPG </span>
            <span class="tab c6">WEBP</span>
        </p>
        <p>Parametry <span class="c3">WYMIARY_GRZEJNIKA</span>, <span class="c4">KOLOR</span>, <span class="c5">SZEROKOŚĆ_OBRAZKA</span>,
            <span class="c6">FORMAT_PLIKU</span> mogą być podane w dowolnej kolejności.</p>
    </div>
    <h3>Przykłady</h3>

    <h4>Zdjęcie domyślne</h4>
    <div class="content-wrapper">
        <div class="box">
            <p>grzejnik AERO H<br>domyślny obrazek<br>oryginalny rozmiar obrazka</p>
            <a href="{{CDN_HOST}}AERO_H" target="_blank">{{CDN_HOST}}AERO_H</a>
            <img src="/AERO_H">
        </div>
    </div>

    <h4>Wybrany widok</h4>
    <div class="content-wrapper">
        <div class="box">
            <p>grzejnik AERO H<br>widok CAM0<br>oryginalny rozmiar obrazka</p>
            <a href="{{CDN_HOST}}AERO_H/CAM0" target="_blank">{{CDN_HOST}}AERO_H/CAM0</a>
            <img src="/AERO_H/CAM0">
        </div>
        <div class="box">
            <p>grzejnik AERO H<br>widok CAM4<br>oryginalny rozmiar obrazka</p>
            <a href="{{CDN_HOST}}AERO_H/CAM4" target="_blank">{{CDN_HOST}}AERO_H/CAM4</a>
            <img src="/AERO_H/CAM4">
        </div>
        <div class="box">
            <p>grzejnik AERO H<br>widok CAM5<br>oryginalny rozmiar obrazka</p>
            <a href="{{CDN_HOST}}AERO_H/CAM5" target="_blank">{{CDN_HOST}}AERO_H/CAM5</a>
            <img src="/AERO_H/CAM5">
        </div>
    </div>

    <h4>Wymiary grzejnika</h4>
    <div class="content-wrapper">
        <div class="box">
            <p>grzejnik AERO H<br>widok CAM0<br>rozmiar 325x900<br>oryginalny rozmiar obrazka</p>
            <a href="{{CDN_HOST}}AERO_H/CAM0/325_900" target="_blank">{{CDN_HOST}}AERO_H/CAM0/325_900</a>
            <img src="/AERO_H/CAM0/325_900">
        </div>
        <div class="box">
            <p>grzejnik AERO H<br>widok CAM0<br>rozmiar 325x1500<br>oryginalny rozmiar obrazka</p>
            <a href="{{CDN_HOST}}AERO_H/CAM0/325_1500" target="_blank">{{CDN_HOST}}AERO_H/CAM0/325_1500</a>
            <img src="/AERO_H/CAM0/325_1500">
        </div>
        <div class="box">
            <p>grzejnik AERO H<br>widok CAM0<br>rozmiar 410x1200<br>oryginalny rozmiar obrazka</p>
            <a href="{{CDN_HOST}}AERO_H/CAM0/410_1200" target="_blank">{{CDN_HOST}}AERO_H/CAM0/410_1200</a>
            <img src="/AERO_H/CAM0/410_1200">
        </div>
    </div>

    <h4>Kolor grzejnika</h4>
    <div class="content-wrapper">
        <div class="box">
            <p>grzejnik AERO H<br>widok CAM0<br>rozmiar 325x900<br>kolor RAL 1000<br>oryginalny rozmiar obrazka</p>
            <a href="{{CDN_HOST}}AERO_H/CAM0/325_900/RAL_1000"
               target="_blank">{{CDN_HOST}}AERO_H/CAM0/325_900/RAL_1000</a>
            <img src="/AERO_H/CAM0/325_900/RAL_1000">
        </div>
        <div class="box">
            <p>grzejnik AERO H<br>widok CAM0<br>rozmiar 325x1500<br>kolor RAL 1011<br>oryginalny rozmiar obrazka</p>
            <a href="{{CDN_HOST}}AERO_H/CAM0/325_1500/ral_1011" target="_blank">{{CDN_HOST}}AERO_H/CAM0/325_1500/ral_1011</a>
            <img src="/AERO_H/CAM0/325_1500/ral_1011">
        </div>
        <div class="box">
            <p>grzejnik AERO H<br>widok CAM0<br>rozmiar 410x1200<br>kolor RAL 3015<br>oryginalny rozmiar obrazka</p>
            <a href="{{CDN_HOST}}AERO_H/CAM0/410_1200/RAL_3015" target="_blank">{{CDN_HOST}}AERO_H/CAM0/410_1200/RAL_3015</a>
            <img src="/AERO_H/CAM0/410_1200/RAL_3015">
        </div>
    </div>

    <h4>Rozmiar obrazka i/lub format pliku</h4>
    <div class="content-wrapper">
        <div class="box">
            <p>grzejnik AERO H<br>szerokość obrazka 200px</p>
            <a href="{{CDN_HOST}}AERO_H/200" target="_blank">{{CDN_HOST}}AERO_H/200</a>
            <img src="/AERO_H/200">
        </div>
        <div class="box">
            <p>grzejnik AERO H<br>widok CAM0<br>szerokość obrazka 200px</p>
            <a href="{{CDN_HOST}}AERO_H/CAM0/200" target="_blank">{{CDN_HOST}}AERO_H/CAM0/200</a>
            <img src="/AERO_H/CAM0/200">
        </div>
        <div class="box">
            <p>grzejnik AERO H<br>widok CAM0<br>rozmiar 325x900<br>szerokość obrazka 200px</p>
            <a href="{{CDN_HOST}}AERO_H/CAM0/325_900/200" target="_blank">{{CDN_HOST}}AERO_H/CAM0/325_900/200</a>
            <img src="/AERO_H/CAM0/325_900/200">
        </div>
        <div class="box">
            <p>grzejnik AERO H<br>widok CAM0<br>rozmiar 325x900<br>kolor RAL 1000<br>szerokość obrazka 100px</p>
            <a href="{{CDN_HOST}}AERO_H/CAM0/325_900/RAL_1000/100" target="_blank">{{CDN_HOST}}AERO_H/CAM0/325_900/RAL_1000/100</a>
            <img src="/AERO_H/CAM0/325_900/RAL_1000/100">
        </div>
        <div class="box">
            <p>grzejnik AERO H<br>widok CAM0<br>rozmiar 325x900<br>kolor RAL 1000<br>szerokość obrazka 200px</p>
            <a href="{{CDN_HOST}}AERO_H/CAM0/325_900/RAL_1000/200" target="_blank">{{CDN_HOST}}AERO_H/CAM0/325_900/RAL_1000/200</a>
            <img src="/AERO_H/CAM0/325_900/RAL_1000/200">
        </div>
        <div class="box">
            <p>grzejnik AERO H<br>widok CAM0<br>rozmiar 325x900<br>kolor RAL 1000<br>szerokość obrazka 500px</p>
            <a href="{{CDN_HOST}}AERO_H/CAM0/325_900/RAL_1000/500" target="_blank">{{CDN_HOST}}AERO_H/CAM0/325_900/RAL_1000/500</a>
            <img src="/AERO_H/CAM0/325_900/RAL_1000/500">
        </div>
        <div class="box">
            <p>grzejnik AERO H<br>widok CAM0<br>rozmiar 325x900<br>kolor RAL 1000<br>szerokość obrazka 200px<br>format
                pliku
                jpg</p>
            <a href="{{CDN_HOST}}AERO_H/CAM0/325_900/RAL_1000/200/JPG" target="_blank">{{CDN_HOST}}AERO_H/CAM0/325_900/RAL_1000/200/JPG</a>
            <a href="{{CDN_HOST}}AERO_H/CAM0/325_900/RAL_1000/JPG/200" target="_blank">{{CDN_HOST}}AERO_H/CAM0/325_900/RAL_1000/JPG/200</a>
            <img src="/AERO_H/CAM0/325_900/RAL_1000/200/JPG">
        </div>
        <div class="box">
            <p>grzejnik AERO H<br>widok CAM0<br>rozmiar 325x900<br>kolor RAL 1000<br>szerokość obrazka 200px<br>format
                pliku
                png</p>
            <a href="{{CDN_HOST}}AERO_H/CAM0/325_900/RAL_1000/200/PNG" target="_blank">{{CDN_HOST}}AERO_H/CAM0/325_900/RAL_1000/200/PNG</a>
            <a href="{{CDN_HOST}}AERO_H/CAM0/325_900/RAL_1000/PNG/200" target="_blank">{{CDN_HOST}}AERO_H/CAM0/325_900/RAL_1000/PNG/200</a>
            <img src="/AERO_H/CAM0/325_900/RAL_1000/200/PNG">
        </div>
        <div class="box">
            <p>grzejnik AERO H<br>widok CAM0<br>rozmiar 325x900<br>kolor RAL 1000<br>szerokość obrazka 200px<br>format
                pliku
                webp</p>
            <a href="{{CDN_HOST}}AERO_H/CAM0/325_900/RAL_1000/200/WEBP" target="_blank">{{CDN_HOST}}AERO_H/CAM0/325_900/RAL_1000/200/WEBP</a>
            <a href="{{CDN_HOST}}AERO_H/CAM0/325_900/RAL_1000/WEBP/200" target="_blank">{{CDN_HOST}}AERO_H/CAM0/325_900/RAL_1000/WEBP/200</a>
            <img src="/AERO_H/CAM0/325_900/RAL_1000/200/WEBP">
        </div>
    </div>
</section>

</body>
</html>